
.fa
{
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius:50%;
}

.navbar-toggler
{
  border: 2px dashed #000847;
  background-color: grey;
}
.fa:hover
{
  opacity: 0.7;
}

.fa-facebook
{
  color: #3b5998;
}

.fa-github
{
  color: black;
}

.fa-youtube
{
  color: #ff0000;
}

body
{
  font-size: 140%;
  font-family: Flavors;
  background-image: url("background.png");
}

.flex-item
{
  color: white;
  font-size: 20px;
  margin: 3px;
  border: 1px dashed white;
  background-color: rgb(0,123,255);

}
.section-heading
{
  text-align: center;
}

.info-image
{
  max-width: 100%;
  height: auto;
}

.small-container
{
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  margin: 12px;
  padding: 10px;
  border: 3px dashed grey;
  border-radius: 12px;
}
#tag-button
{
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border: 2px dashed black;
  border-radius: 10px;
}
#tag-button:hover
{
  color: blue;
}

.header
{
  background-image: url("header-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffebbf;
}
.nav-link
{
  text-align: center;
  border: 2px dashed #000847;
  color: black;
  margin: 5px;
  background-color: rgb(235,219,255);
  border-radius: 10px;
}

.navbar-brand
{
  border: 2px dashed #000847;
  color: black;
  margin: 5px;
  background-color: #ebdbff;
  border-radius: 10px;
}

.navborder
{
  border: 5px double white;
  background-color: rgba(0,8,71,0.7);
  border-radius: 15px;
}
.roundcontainer1
{
  margin: 10px;
  border: 10px dashed #2e750b;
  background-color: rgba(127,255,63,0.9);
  border-radius: 45px;
}


.roundcontainer2
{
  margin: 10px;
  border: 10px dashed #e0478e;
  background-color: rgba(255,175,212,0.9);
  border-radius: 45px;
}


.roundcontainer3
{
  margin: 10px;
  border: 10px dashed #0e6687;
  background-color: rgba(119,218,255,0.9);
  border-radius: 45px;
}


.roundcontainer4
{
  margin: 10px;
  border: 10px dashed #bad606;
  background-color: rgba(255,252,84,0.9);
  border-radius: 45px;
}

.progress-bar-color
{
  background-color: #484a4c;
}

.contact-box
{
  border: 3px dashed grey;
}

.footer
{
  color: #ff1c27;
  background-color: black;
}

.modal-header
{
  background-color: rgba(0,8,71,0.7);
}
